@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

:root{
  --primary-white: #fff;
  --primary-orange: #f93200;
}


body{
  font-family: "Roboto Condensed" sans-serif;
  background: url(mxexBackground.jpg);
}


.logo {
  width: 16.25rem;
}

nav a.nav-link{
  font-weight: 800;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
  font-size: 1.3rem !important;
  
}

.navbar-nav > li > a {
  margin: left;
  color: var(--primary-white) !important;
  
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-top: 0.1875rem solid var(--primary-orange);
}

.container{
  background-color: #ff9933 !important;
  
}

.h1-brand{
  text-align: center;
  font-size: 180px;
}
.p-brand{

  font-size: 80px;
  text-align: center;
}

.p-about{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}