@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

:root{
  --primary-white: #fff;
}


body{
  font-family: "Roboto Condensed" sans-serif;
}


.logo {
  width: 16.25rem;
}

nav a.nav-link{
  font-weight: 800;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
}